.invisible-card {
  opacity: 0;
}


.visible-card {
  opacity: 1;
  transform: translateX(50px);
}

.modal-content {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 75%;
  text-align: center;
  width: 400px;
  height: 400px;
}