.invisible-card {
  opacity: 0;
}


.visible-card {
  opacity: 1;
  transform: translateX(50px);
}

.modal-content {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50rem;
  height: 40rem;
}